upstream backend_servers {
    server 172.31.74.104:8080 weight=1;
    server 172.31.73.146:8081 weight=3;
}

server {
    listen 80;
    server_name poyito.servemp3.com 52.206.87.198;
}
server{
    return 301 https://$host$request_uri;
    listen 443 ssl http2;
    server_name poyito.servemp3.com 52.206.87.198;

    ssl_certificate /etc/letsencrypt/live/poyito.servemp3.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/poyito.servemp3.com/privkey.pem;

    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:10m;
    ssl_session_tickets off;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers off;
    ssl_ciphers 'ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE>

    location / {
        proxy_pass http://backend_servers;
        
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_connect_timeout 60s;
        proxy_read_timeout 60s;
        proxy_send_timeout 60s;
    }
}